@model string
<div class="modal-header">
    <h5 class="modal-title" id="myModalLabel" name="myModalLabel">@Model</h5>
    <button onclick="zatvoriCRUDModal()" type="button" class="btn btn-secondary btn-group-xs small close glyphicon glyphicon-remove" title="Zatvori ekran" data-dismiss="modal" aria-hidden="true">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
